@import "root"
@import "scaleMixin"

#wapsApp
  background-color: #eaeaea !important
  border-color: $main-menue-background-color !important
  border-radius: 3rem
  box-shadow: 5px 10px 7px
  padding: 1.5rem
  user-select: none

  @include respond-to(medium-screens)
    width: 20rem
    height: 17rem

  @include respond-to(wide-screens)
    width: 20rem
    height: 17rem

  @include respond-to(handhelds)
    width: 15rem
    height: 15rem

#wapsAdminPanel
 background-color: $main-menue-background-color
 width: 80%
 padding: 2em
 margin: 2em
 border-radius: 0.5rem

 #wapsHeader
  border: solid $seccond-color 0.2rem
  border-radius: 0.5rem
  padding: 0.5rem
  background-color: $main-color

 #wapsBody
  border: solid none 0.2rem
  border-radius: 0.5rem
  margin-top: 1rem
  padding: 0.5rem
  background-color: $main-color

.wapsFormGroup
 padding: 1em
 display: block

.wapsFormLabel, .wapsFormInput
 padding: 1em
 border-style: none
 display: block

.wapsFormLabel
 user-select: none
 cursor: unset
